<div class="row justify-content-center">
    <div class="col-8 p-4 my-5 bg-core">
        <a href="/planner" class="text-colour" style="text-decoration:none;"><ion-icon name="return-up-back"></ion-icon> Back to Planner</a>
        <h3 class="center header">Past Events</h3>
        <div id="past-events"></div>
    </div>
</div>
<script src="/js/planner/past_events.js"></script>