<div class="row justify-content-center">
    <div class="col-1-5 mr-5 p-4 my-5 bg-core">
        <h3 class="header center">Tools</h3>
        <ul style="list-style: none;" class="mt-3">
            <li><a href="/planner/create/event" class="text-colour" style="text-decoration: none;">Create Event</a></li>
        </ul>
    </div>
    <div class="col-8 p-4 my-5 bg-core">
        <h3 class="center header">Upcoming Events</h3>
        <div id="upcoming-events"></div>
    </div>
</div>
<script src="/js/defualt.js"></script>