<div class="row justify-content-center">
    <div class="col-6 mr-2 my-5 bg-core">
        <div class="seperator mb-4"></div>
        <div id="event-data"></div>
        <div class="seperator mt-4"></div>
    </div>
</div>
<script id="toRemove">
    let eid = '{{event._id}}';
</script>
<script src="/js/planner/view_event.js"></script>