$primary: #AB47BC;
$primaryLight: #DF78EF;
$primaryDark: #790E8B;
$secondary: #7B1FA2;
$secondaryLight: #AE52D4;
$secondaryDark: #4A0072;
$background: #8B8B8B;
$backgroundMain: #7C7C7C;
$backgroundSecondary: #9B9B9B;
$backgroundCore: #999999;

:root {
    --primary: #{$primary};
    --primaryLight: #{$primaryLight};
    --primaryDark: #{$primaryDark};
    --secondary: #{$secondary};
    --secondaryLight: #{$secondaryLight};
    --secondaryDark: #{$secondaryDark};
    --background: #{$background};
    --backgroundMain: #{$backgroundMain};
    --backgroundSecondary: #{$backgroundSecondary};
    --backgroundCore: #{$backgroundCore};
}