{{#if user}}

{{else}}
    <div class="auth">
        <div class="flex flex-center">
            <div class="card primary">
                <h1 class="text-center">Stormcloud Services</h1>
                <h2 class="text-center">Login</h2>
                <div class="flex flex-center">
                    <a href="/auth/discord" class="button"><ion-icon name="logo-discord" class="va-m"></ion-icon> &nbsp;&nbsp;Login With Discord</a>
                </div>
            </div>
        </div>
    </div>
{{/if}}