<link rel="stylesheet" href="/css/poll_view.css"/>
<div class="row justify-content-center">
    <div class="col-5 mx-2 mt-5 p-4 bg-core text-colour">
        <div id="poll"></div>
    </div>
</div>
<script type="text/javascript" id="toRemove">
    let pollId = '{{pollId}}';
    let userId = '{{user._id}}';
</script>
<script src="/js/view_poll.js"></script>