/* GLOBAL STUFF */
.rounded {
  border-radius: 10px !important;
}

.solid {
  border-top: 2px solid #9954BB;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*
 * ALIGNMENT STUFF
 */
.va-m {
    vertical-align: middle;
}

/* FORM STUFF */
.form-group {
  margin-bottom: 1rem;
  box-sizing: border-box;
  display: block;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}

.form-control {
  display: block;
  width: 95%;
  height: calc(0.5rem + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-dropdown {
  display: block;
  width: 30%;
  height: calc(2.5rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-dropdown:focus {
  outline: none;
}

.form-control:focus {
  outline: none;
}

.text-area {
  resize: none;
  padding: 0.5rem;
}

.text-area:focus {
  outline: none;
}

.form-check-input:focus {
  outline: none;
}

.input-hover:hover {
  cursor: pointer !important;
}

/* BUTTON STUFF */

.btn {
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  color: #373a3c;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn:focus {
  outline: none;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 0 solid transparent;
}

.alert-warning {
  color: #853d0c;
  background-color: #ffe3d1;
  border-color: #ffd8be;
}

.alert-info {
  color: #502c61;
  background-color: #ebddf1;
  border-color: #e2cfec;
}

.alert-success {
  color: #215f0c;
  background-color: #d9f0d1;
  border-color: #c9ebbe;
}

.alert-danger {
  color: #853d0c;
  background-color: #ffe3d1;
  border-color: #ffd8be;
}

.err-msg {
  color: #E62B2B;
  font-size: 14px;
  margin-top: 20px;
}

/* MARGIN/PADDING */
.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1.0rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 3.0rem !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 3.0rem !important;
}

.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.mx-3 {
  margin-right: 1.0rem !important;
  margin-left: 1.0rem !important;
}

.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.mx-5 {
  margin-right: 3.0rem !important;
  margin-left: 3.0rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1.0rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3.0rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1.0rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-3 {
  margin-top: 1.0rem !important;
  margin-bottom: 1.0rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1.0rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3.0rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.py-2 {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.px-3 {
  padding-left: 1.0rem !important;
  padding-right: 1.0rem !important;
}

.px-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

/* TYPOGRAPHY */
.header {
  text-transform: uppercase;
}

.fs-14 {
  font-size: 14px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

.text-black {
    color: black;
}

.fs-18 {
    font-size: 18px;
}

.fs-14 {
  font-size: 14px;
}

.text-deco-none {
  text-decoration: none;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.seperator {
  border: 1px solid #A95BCF;
}

@media screen and (max-width: 1187px) {
  .t-10 {
    margin-right: 0 !important;
  }
}

/* TABLE */
.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}