.layout {
    padding: calc(0.5rem + var(--headerHeight)) var(--containerPadding);
    min-height: calc(100vh - (var(--headerHeight) + var(--footerHeight) + 32px));

    @include breakpoint-down('sm') {
        padding: calc(0.5rem + var(--headerHeight)) 20px;
    }
}

.grid {
    --gridCols: 2;
    display: var(--displayGrid);
    grid-template-columns: repeat(var(--gridCols), 1fr);

    &.cols-3 {
        --gridCols: 3;
    }
}

.flex {
    --justfiyContent: space-between;
    display: var(--displayFlex);
    justify-content: var(--justfiyContent);

    &.flex-around {
        --justfiyContent: space-around;
    }

    &.flex-center {
        --justfiyContent: center;
    }
}

.split {
    display: grid;
    grid-template-columns: 33% 67%;
    grid-gap: 20px;
}
