<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Stormcloud</title>
        <link rel="stylesheet" href="/css/main.css"/>
        <script async type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
        <script async nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
    </head>
    <body class="dark">
        <header class="flex">
            <div>
                <a href="/"><h2>Stormcloud</h2></a>
            </div>
            {{#if user}}
                <nav>
                    <a href="">Link 1</a>
                    <a href="">Link 2</a>
                </nav>
            {{/if}}
        </header>
        <div class="layout">
            {{{body}}}
        </div>
        <footer class="flex">
            <div class="start">
                <a href="https://discord.gg/Vnrb6scBHG"><img src="/images/discord_logo.png" width="40" height="32"/></a>
            </div>
            <div class="end">
                <a href="/content-policy">Content Policy</a>
                <a href="/cookie-policy">Cookie Policy</a>
                <a href="/privacy-policy">Privacy Policy</a>
                <p>&copy; 2021 ğ•µğ–†ğ–˜ğ–•ğ–Šğ–—</p>
            </div>
        </footer>
    </body>
</html>