<div class="error-404">
    <div class="flex flex-center">
        <div class="card primary">
            <h1 class="text-center">404-Not Found</h1>
            <div class="flex flex-center">
                <a href="/">Back to homepage</a>
            </div>
        </div>
    </div>
</div>