<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="Unnamed Pad is a website designed for people to write storys freely.">
        <title>StormCloud</title>
        <!-- CSS -->
        <link rel="stylesheet" href="/css/main.css"/>
        <link rel="stylesheet" href="/css/grid.css"/>
        <link rel="stylesheet" href="/css/utils.css"/>
        <!-- JavaScript -->
        <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
        {{> theme}}
    </head>
    <body class="login-bg">
        <div class="box bg-main text-colour center">
            <h3>Jasper Derped Check Back Later</h3><br/>
            <a href="/" id="home-btn"><ion-icon name="arrow-undo"></ion-icon> Return to Home</a>
        </div>
    </body>
</html>