<div class="row justify-content-center">
    <div class="col-8 bg-core my-5 p-4">
        <h3 class="center header">2048 For XP</h3>
        <p class="center">How to play: Join the tiles, get to <b>2048</b>!</p>
        <div id="game-board">

        </div>
    </div>
</div>