button, .button {
    --buttonColour: var(--primary);
    --buttonFontSize: var(--baseText);
    --buttonOpacity: 1;

    color: var(--buttonTextColour);
    background-color: var(--buttonColour);
    border-radius: var(--radius);
    font-size: var(--buttonFontSize);
    opacity: var(--buttonOpacity);
    font-family: var(--fontFamily);
    box-shadow: var(--level-1);

    &.secondary {
        background-color: var(--secondary);
    }

    &.dark {
        color: var(--lightTextColour);
        background-color: var(--darkColor);
    }

    appearance: none;
    border: none;
    padding: 12px 25px;
    transition: 0.3s ease-in-out box-shadow;

    &:hover {
        box-shadow: var(--level-2);
        cursor: pointer;
    }

    &.small {
        --buttonFontSize: var(--smallText);
    }

    &.cancel {
        --buttonColour: var(--danger);
        --buttonTextColour: white;
    }

    &[disabled] {
        --buttonOpacity: 0.4;
    }
}
