footer {
    background: var(--footerBackground);
    color: var(--footerTextColour);
    padding: 1rem calc(4rem + var(--containerPadding));
    text-align: center;
    box-sizing: content-box;
    height: var(--footerHeight);

    p {
        margin-bottom: 0;
        max-width: none;
    }

    a {
        color: var(--footerTextColour);
        font-size: 3rem;
        margin: 0 10px;
    }

    .start {
        text-align: center;
        font-size: var(--smallText);
    }

    .end {
        text-align: right;
        font-size: var(--smallText);

        a {
            text-decoration: none;
            font-size: var(--smallText);
            margin-right: 0;
        }
    }
}

@include breakpoint-down('sm') {
    footer {
        flex-direction: column;
        .links, .socials {
            margin: var(--containerPadding) 0;
        }

        .links {
            text-align: center;
        }
    }
}

