<div class="row justify-content-center">
    <div class="col-8 p-4 my-5 bg-core">
        <div id="leaderboard-display"></div>
    </div>
</div>
<script type="text/javascript" id="toRemove">
    let userId = '{{user.discordId}}';
</script>
<script src="/js/leaderboard.js"></script>