<div class="row justify-content-center">
    <div class="col-8 p-4 my-5 bg-core">
        <h3 class="header center">Approve Polls</h3>
        <div id="polls-display"></div>
    </div>
</div>
<script src="/js/admin/polls/approve_polls.js"></script>