<div class="row justify-content-center">
    <div class="col-7 p-4 my-5 bg-core">
        <div id="application-data">
            
        </div>
    </div>
</div>
<div id="comment-wrapper"></div>
<div id="comments-wrapper"></div>

<script type="text/javascript" id="toRemove">
    let userId = '{{user.discordId}}';
    let applicationId = '{{applicationId}}';
</script>
<script src="/js/application/application_view.js"></script>